<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <% unless @user.image_url.blank? %><%= image_tag @user.image_url, :class => "img-portrait" %><br><br><% end %>
  <%= f.input :image_url, as: :file, label: "Profile picture" %>
  <%= f.input :user_type, as: :radio_buttons, label: "Account type", collection: [ 'Student', 'Teacher' ] %>
  <%= f.input :name, :autofocus => true, label: "Full name" %>
  <%= f.input :about, input_html: { rows: 8 }, placeholder: "e.g. I love playing Blues on the guitar and I'm inspired by Jimi Hendrix" %>
  <%= f.input :location %>
  <%= f.input :email, :required => true %>
  <%= f.input :gplus_url, label: 'Google+ URL', placeholder: "e.g. https://plus.google.com/117698348367619010873/posts" %>
  <% if @user.user_type == 'Teacher' %>
	  <%= f.input :rate, label: 'Hourly rate in EUR', placeholder: "e.g. 30" %>
    <%= f.input :tag_list, placeholder: "e.g. instrument (separate by commas)" %>
  <% end %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>
