<div class="row-fluid">
	<div class="span5 text-center">
		<%= image_tag user.image_url, :class => 'img-portrait' unless user.image_url.blank? %>
	</div>
	<div class="span4">
		<h2><%= link_to user.name, user %></h2>
		<p><%= user.user_type if user.user_type %> in <%= user.location if user.location %></p>
		<p class="lead"><%= user.about %></p>
		<% if user.user_type == 'Teacher' %>
			<p><%= number_to_currency(user.rate) if user.rate %> /Hour</p>
			 <p>Tags: <%= raw user.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') if user.tag_list %></p>
		<% end %>
		<div>
			<%= link_to '<i class="icon-google-plus-sign icon-3x"></i>'.html_safe, url_with_protocol(user.gplus_url), target: "_blank" unless user.gplus_url.blank? %>
		</div>

		<a href="https://plus.google.com/hangouts/_/a1360f83e0bf6e417cb4d32db78c87b761f8da8a?hl=en" style="text-decoration:none;">
		<img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-24x100-normal.png"
		alt="Start a Hangout"
		style="border:0;width:100px;height:24px;"/>
		</a>
	</div>
</div>
<hr>
