<%= render 'profile', :user => @user %>

<% if @user.user_type == "Teacher" %>
<div class="row">
	<div class="span4 offset3">
		<%= link_to "Book me now", new_user_event_path(@user), :class => 'btn' %>
	</div>
</div>
	<%= calendar @events do |event| %>
	  <div><%= link_to event.name, root_path %></div>
	  <div><%= event.start_time.strftime("at %I:%M%p") %></div>
	<% end %>
<% end %>