<%= render 'profile', :user => @user %>

<% if @user.user_type == "Teacher" %>

	<%= link_to "Book a lesson", new_user_event_path(@user), :class => "btn btn-success" %>
	<%= link_to "Email me", inbox_path, :class => "btn btn-warning" %>
	<%= link_to "Pay for a lesson", new_payment_path, :class => "btn btn-primary" %>

	<%= calendar @events do |event| %>
	  <div><%= link_to event.name, user_event_path(@user) %></div>
	  <div><%= event.start_time.strftime("at %I:%M%p") %></div>
	<% end %>
	<% end %>

